<!DOCTYPE html>
<html>
<head>
 <link rel="stylesheet" type="text/css" href="/public/css/">
 <link rel="stylesheet" type="text/css" href="/public/css/">
 <link rel="stylesheet" type="text/css" href="css/styles.css">
 <link rel="stylesheet" type="text/css" href="cc/etape_1.css">
 <title>Relève numérique</title>
</head>
<body>
    <div>
        <p>Pour nous joindre:</p>
    </div>
    <div>
            <ul>
            <li>Question administrative:  <p>Suzie Garon</p>  sgaron@cybercap.qc.ca</li>
            <li>Problème technique:    <p> Alix Jasmin-Morissette</p>  ajasminmorissette@cybercap.qc.ca</li>
    </div>
 </ul>
  <P><B>Formulaire d'inscription aux activités Relève numérique pour l'année 2023-2024</B></P>
  <p>Merci de lire les instructions suivente attentivement.</p>
 <div>
 <p>Le programme Relève numérique vous offre un total de 13 activités, divisées comme suit:</p>
 <ul>
 <li>3 séances d'information sur les métiers du numérique</li>
 <li>6 ateliers de sensibilisation à la citoyenneté à l'ère du numérique et à la cybersécurité</li>
 <li>4 ateliers de création</li>
 </ul>
 <p>Les séances d'information se déroulent sur une période (75 minutes) par activité, les ateliers de sensibilisation se déroulent sur trois périodes (3 x 75 minutes par atelier) et les ateliers de création sont dispensés sur quatre périodes (4 x 75 minutes par atelier).</p>
 </div>
 <div>
 <p>Ce formulaire doit être rempli en ligne à partir du lien qui vous a été fourni.
    Vous pouvez partager ce lien au sein de votre organisation pour faciliter le processus d'inscription.</p>
 </div>
 <form>
 <fieldset>
 <legend>Progression</legend>
 <div>
 <button><a href="#etape_1">Étape 1 - Informations:</a><!-- need chose between etapes or etape--></button>
 </div>
 <div>
<button><a href="#etape_2">Étapes 2 - Plages horaires:</a></button> 
 </div>
 <div>
<button><a href="#etape_3">Étape 3 - Profs:</a></button> 
 </div>
 <div>
<button><a href="#etape_4">Étape 4 - Activités:</a></button> 
 </div>
 </fieldset>
 </form>
 <p>Formulaire incomplet, veuillez compléter les informations demandées.</p>

 <h2 id="etape_1">Étape 1 -information générales</h2>
 <form>
    <ul>
        <ol><label for="region"><b>Votre région administrative:</b></label> <!--will see-->
        <input type="text" id="region" name="region"><br> <!-- need to put a menu deroulant--></ol>
        
        <ol><label for="center">Votre centre de services scolaire:</label><br> <!-- may change title for a h#--></ol>

        <ol><label for="center">Nom complet du centre de services</label>
        <input type="text" id="center_name" name="center_name"><br></ol>
    </ul>

     <ul>
        <br><ol><h3>Votre école</h3></ol>
        <ol><P>Veuillez saisir les coordonnées de votre école:</P></ol>
        <ol><label for="school">Nom de l'école</label>
        <input type="text" id="school" name="school"><br></ol>
        <ol><label for="cybercap_code">Code école Cybercap</label>
        <input type="text" id="cybercap_code" name="cybercap_code"><br><!-- ??? if need it--></ol>
        <ol><label for="street_number">Numéro civique et rue</label>
        <input type="text" id="street_number" name="street_number"><br></ol>
        <ol><label for="city_name">Ville</label>
        <input type="text" id="city_name" name="city_name"><br></ol>
        <ol><label for="postal_code">Code postal</label>
        <input type="text" id="postal_code" name="postal_code"> <br></ol>
    </ul>

     <ul>
        <br> <ol><h3>Personne mandatée</h3></ol>
        <ol><P>Veuillez saisir les coordonnées de la personne mandatée pour mettre en œuvres les activités de Relève numérique à votre école:</P></ol>
        <ol><label for="name">Prénom et nom</label>
        <input type="text" id="name" name="name"><br></ol>
        <ol><label for="fonction">Fonction</label>
        <input type="text" id="fonction" name="fonction"><br><!-- ??? if need it--></ol>
        <ol><label for="courriel">Courriel</label>
        <input type="text" id="courriel" name="courriel"><br></ol>
        <ol><label for="primary_cell">Téléphone principal</label>
        <input type="text" id="primary_cell" name="primary_cell"><br></ol>
        <ol><label for="secondary_cell">Téléphone secondaire</label>
        <input type="text" id="secondary_cell" name="secondary_cell"><br></ol>
    </ul>

    <ul>
        <ol><h3>Commentaires ou particularités à nous communiquer</h3></ol>
        <ol><label for="commentaire">Utilisez cette zone de texte pour tout commentaire ou particularité à nous communiquer concernant la planification des événements. Nous vous invitons à entrer en contact avec CyberCap pour toutes questions.</label>
        <input type="text" id="commentaire" name="commentaire"></ol>
    </ul>
     <!-- Add more form fields as needed -->
 </form>

 <form>
    <h2 id="etape_2">Étape 2 - Plages horaires</h2>
    <p>Nous avons besoin de connaître les heures exactes de début et de fin pour chacune des périodes de cours d'une journée type.
        Merci de les indiquer ci-dessous.</p>
    <p>Les heures doivent être saisies au format HH:MM</p>

    <ul id="periode1">
        <ol><b>Période 1</b></ol>
        <ol><label for="start_time">Heure de DÉBUT</label>
            <input type="text" id="start_time" name="start_time"><br></ol>
        <ol><label for="end_time">Heure de FIN</label>
            <input type="text" id="end_time" name="end_time"><br></ol>
    </ul>
    <ul id="periode2">
        <ol><b>Période 1</b></ol>
        <ol><label for="start_time">Heure de DÉBUT</label>
            <input type="text" id="start_time" name="start_time"><br></ol>
        <ol><label for="end_time">Heure de FIN</label>
            <input type="text" id="end_time" name="end_time"><br></ol>
    </ul>
    <ul id="periode3">
        <ol><b>Période 1</b></ol>
        <ol><label for="start_time">Heure de DÉBUT</label>
            <input type="text" id="start_time" name="start_time"><br></ol>
        <ol><label for="end_time">Heure de FIN</label>
            <input type="text" id="end_time" name="end_time"><br></ol>
    </ul>
    <ul id="periode4">
        <ol><b>Période 1</b></ol>
        <ol><label for="start_time">Heure de DÉBUT</label>
            <input type="text" id="start_time" name="start_time"><br></ol>
        <ol><label for="end_time">Heure de FIN</label>
            <input type="text" id="end_time" name="end_time"><br></ol>
    </ul>
    
 </form>
 
 <form>
    <h2 id="etape_3">Étape 3 - Enseignant.e.s impliqué.e.s</h2>
    <p>Nos activités sont réalisées en collaboration avec une enseignante ou un enseignant. Merci de saisir leurs coordonnées ci-dessous.</p>
    <p>Ces informations ré-apparaîtront à l'étape suivante pour pouvoir assigner une ou un prof à l'activité désirée.</p>

    <table id="myTable">
        <thead>
            <tr>
                <th>Prénom et nom</th>
                <th>Matière enseignée</th>
                <th>Courriel</th>
                <th>Téléphone principal</th>
                <th>Téléphone secondaire</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <button onclick="addEntry(data)">Add Entry</button>

    
 </form>


 <form>
    <h2 id="etape_4">Étape 4 - Choix des activités</h2>
    <p>Le nom de l'activité et le nom de l'enseignant.e doivent être sélectionnés à partir du menu déroulant.</p> 
       <p>La date doit être choisie à partir de l'interface calendrier.</p>
       <p>Une information inscrite manuellement risque de rendre le formulaire inopérant. N'hésitez pas à contacter Cybercap pour obtenir de l'assistance.</p>
    <p>Les dates doivent être saisies au format AAAA-MM-JJ</p>
    <h3>Étape 4a - Choix des 3 séances d'information</h3>
    <seancetable id="choix_des_3_séances_d_information">
        <thead>
            <tr>
                <th>Séance</th>
                <th>Enseignant.e</th>
                <th>Numéro de groupe</th>
                <th>Nombre d'élèves</th>
                <th>Niveau</th>
                <th>Local</th>
                <th>Date</th>
                <th>Période</th>
                <th>Disponibilité</th>
            </tr>
        </thead>
        <seancebody id="seancebody">
            
        </seancebody>
    </seancetable>
    <button onclick="addEntry2(dataseance)">Add Entry</button>
 </form>
<FORM>
    <input type="submit" value="Envoyer">
</FORM>
<script src="/public/js/function.js"></script> 
<script src="js/script.js"></script> 
</body>
</html>